<h1>Flickr Photo Stream</h1>
<div class="search-input">
    <input type="text" name="tags" [(ngModel)]="tags" />
    <button type="button" (click)="searchByTag(tags)">Tag Search</button>
    <button type="button" (click)="clearSearch()">Clear</button>
</div>
<div class="infinite-scroll">
    <p>
        Activate Infinite Scroll
        <input type="checkbox" [(ngModel)]="activateInfinityScroll" />
    </p>
</div>
<p *ngIf="!photos"><em>Loading...</em></p>
<p *ngIf="photos && photos.length==0"><em>No Results Found.</em></p>
<div id="photos-list" *ngIf="photos" class="search-results"
     infinite-scroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="300"
     (scrolled)="onScroll()">
    <div *ngFor="let photo of photos" class="photo-view">
        <div class="photo-image">
            <img alt="photo.title" src="{{photo.media.m}}">
        </div>
        <span>
            <a target="_blank" href="{{photo.media.m}}">{{photo.title ? photo.title.length>30 ? photo.title.substr(0,30) + '...' : photo.title : 'No Title'}}</a>
            <br />
            by <a target="_blank" href="{{getAuthorPageUrl(photo)}}">{{photo.author}}</a>
        </span>
        <p class="photo-descirption">Description:{{photo.description.substr(0,60) + '...'}}</p>
        <p class="photo-tags">
            Tags:
            <span class="photo-tag" *ngFor="let tag of getTags(photo.tags)">
                <button type="button" (click)="searchByTag(tag)">{{tag}}</button>
            </span>
        </p>
    </div>
</div>