h1 {
    color: red !important;
}

div#photos-list div.photo-view {
    width: 350px;
    height: 500px;
    display: inline-block;
    border: 1px solid gray;
    vertical-align: top;
    margin: 10px;
    padding: 20px;
    text-align: justify;
    word-wrap: break-word;
}

div#photos-list div.photo-image {
    text-align: center;
}

div#photos-list div.photo-view img {
    max-width: 280px;
    height: 250px;
    margin-bottom: 20px;
}

span.photo-tag {
    background-color: gainsboro;
    border-radius: 2px 10px;
    padding: 3px;
    margin-right: 10px;
}